body,
pre,
code {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: #eee;
    background-color: #555;
}

button:hover {
    background-color: #999;
}