<html>
<header>
    <!-- <script type="importmap" src="importmap.json"></script> -->
    <script src="vue.dev.js"></script>

</header>

<body>

    <div id="app">
        <p>{{ message }}</p>

        <input v-model="message">

        <button v-on:click="reverseMessage">Reverse Message</button>

        <p v-bind:title="title">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </p>

        <p v-if="seen">Now you see me</p>

        <ol>
            <!-- Create an instance of the todo-item component -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>

        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <script type="module" src="index.js"></script>
</body>

</html>