* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* https://www.cssfontstack.com/Segoe-UI */
h1 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p,
div {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

/* ============== End font =============== */

html,
body {
    background-color: #e6e6e6;
    min-width: 370px;
    min-height: 600px;
}


h1,
h3 {
    text-align: center;
}

h3 a {
    background-color: #ddd;
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
}

a:hover {
    background-color: #bbb;
}

#flag {
    width: 35;
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

#open-in-new-tab {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #ddd;
}

#open-in-new-tab:hover {
    background-color: #bbb;
}

#update-btn {
    display: none;
    border: none;
    border-radius: 5px;
    padding: 3px;
    color: #eee;
    background-color: #009e00;
    font-weight: bold;
    cursor: pointer;
}

#update-btn:hover {
    color: #fff;
    background-color: #00c200;
}

/* ---------- Tab button ---------- */
.tab {
    background-color: #cccccc;
    overflow: auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #afafaf;
}

.tab button.active {
    background-color: #a8a8a8;
}

/* ---------- Search --------- */
.search {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: inherit;
}

.search input[type='text'] {
    border: none;
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
}

.search .searchFound {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    text-align: right;
    font-size: 14px;
    border-radius: 5px;
    background-color: #dddd;
}

/* ---------- Content & content button ---------- */
.tabcontent {
    padding: 6px;
    border-top: none;
    padding-bottom: 50px;
}

.tabcontent {
    animation: fadeEffect .3s;
}

.section-title {
    padding: 10px 0 5px;
    position: sticky;
    top: 30px;
    background-color: #e6e6e6;
    z-index: 2;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content .buttonContainer {
    display: flex;
    align-items: center;
}

.content button {
    position: relative;
    border: none;
    margin: 0.25em;
    padding: 0.75em 1em;
    color: #333;
    background-color: #c6c6c6;
    transition: all 200ms;
}

.content button:hover {
    background-color: #a8a8a8;
    cursor: pointer;
    z-index: 3;
}

.content button:active {
    background-color: #666;
    color: #ddd;
}

.content button i.star,
.content button i.view-source,
.content button i.fa-circle-question {
    opacity: 0;
    width: 0;
    transition: all .2s;
}

.content button i.star.active {
    color: #0048ad;
}

.content button i.star:hover,
.content button i.view-source:hover,
.content button i.fa-circle-question:hover {
    transform: scale(1.8);
}

.content button:hover i.star,
.content button i.star.active,
.content button:hover i.view-source,
.content button:hover i.fa-circle-question {
    width: auto;
    margin-left: 5px;
    opacity: 1;
}

.content button .btn-title {
    vertical-align: middle;
}

.content button .icon-img {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-right: 5px;
}

.content button .icon-html {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.content .checkmark {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0px;
    border: 1px solid #999;
    background-color: #e6e6e6;
}

.content .checkmark:hover {
    background-color: #ccc;
}

.content .checkmark.active {
    background-color: #04AA6D;
}

.content .checkmark.active:after {
    content: "";
    position: absolute;
    display: block;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content button .badgeContainer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-40%);
    border-radius: 3px;
    overflow: hidden;
}

.content button .badge {
    padding: 3px 5px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------- Tooltip ---------- */
.tooltip {
    position: relative;
    display: inline-block;
    text-align: left;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    pointer-events: none;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 0;
    opacity: 0;
    transition: all .1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    top: 105%;
    opacity: 1;
    transition: all .3s linear .3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(133, 133, 133) transparent;
}

/* --------- Modal ---------- */
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(.1rem);
    backdrop-filter: blur(.1rem);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-height: 90%;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    margin: 10px auto 15px;
}

.modal-body {
    max-height: 70%;
    overflow: auto;
}

/* --------- Loading --------- */
#loading-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e8e8e8db;
    -webkit-backdrop-filter: blur(.1rem);
    backdrop-filter: blur(.1rem);
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    -webkit-backdrop-filter: blur(.1rem);
    backdrop-filter: blur(.1rem);
}

.loading-container .text {
    color: white;
}

.loading-container .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --------- Popup --------- */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popup-inner-container {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    padding: 10px;
    background: #eee;
    overflow: auto;
}

.popup-container .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #e22;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    max-width: 95%;
    max-height: 95%;
}

/* --------- border fancy --------- */
.border-fancy:after {
    content: "";
    background: linear-gradient(45deg, red, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, red) repeat 0% 0%/300% 100%;
    position: absolute;
    inset: -1px;
    border-radius: 8px;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    -webkit-animation: border-fancy 6s linear infinite;
    animation: border-fancy 6s linear infinite;
    pointer-events: none;
    z-index: -1;
}

@keyframes border-fancy {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

/* --------- scrollbar --------- */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}