body {
  max-width: 1000px;
  margin: auto;
}

canvas {
  max-height: 500px;
}

li:hover {
  background: #eee;
  color: red;
}

.hidden,
.not-script {
  display: none;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background: #eee;
}

.btn-active {
  box-shadow: inset 0 0 10px 5px #333;
}
