.ufs-more-react-story {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-react {
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: .2s all;
}

.btn-react:hover {
  transform: scale(1.3);
}

.emoji-container {
  position: absolute;
  bottom: -600px;
  height: 300px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;

  font-family: "Roboto", sans-serif !important;
  font-size: 2.5em !important;
  max-width: 400px;
}

.emoji-container.show {
  bottom: 60px;
}

.emoji-tab-container {
  overflow-x: auto;
  overflow-y: hidden;
  height: 50px;
  white-space: nowrap;
  /* border-bottom: 1px dashed #999; */
}

.emoji-tab {
  cursor: pointer;
  display: inline-block;
  transition: all 0.1s;
  padding: 5px;
}

.emoji-tab:hover {
  background-color: cadetblue;
}

.emoji-tab.active {
  background-color: cadetblue;
}

.emoji-list-container {
  max-height: calc(100% - 50px);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.emoji-list-container--show {
  bottom: 60px;
  opacity: 1;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  padding: 3px;
}

.emoji.loading {
  animation: spin 2s linear infinite;
}

.emoji:hover {
  transform: scale(1.5);
}

.emoji:active {
  transform: scale(0.9);
}

.floating-emoji {
  animation: bubble 2s ease-out !important;
  pointer-events: none;
  height: 70px;
  width: 70px;
  font-size: 30px;
  transition: all 0.3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0px) scale(2);
    opacity: 1;
  }

  100% {
    transform: translateY(-200px) scale(1);
    opacity: 0.1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
  background: #939393;
}