#ufs-who-is-typing {
  position: fixed;
  top: 50px;
  left: 50px;
  max-height: calc(100vh - 100px);
  overflow: auto;
  background-color: #fff;
  border-radius: 3px;
}

#ufs-who-is-typing.collapsed .ufs-noti-item {
  display: none;
}

#ufs-who-is-typing .ufs-header button {
  float: right;
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
  cursor: pointer;
}

#ufs-who-is-typing .ufs-noti-item {
  position: relative;
  padding: 5px;
  margin: 10px;
  font-size: 1.3em;
  background-color: #f1f1f1;
}

#ufs-who-is-typing .ufs-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  color: #fff;
  background-color: #d92e2e;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#ufs-who-is-typing .ufs-avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #181a1b0d;
}

#ufs-who-is-typing .ufs-content p {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}