body {
  max-width: 1000px;
  margin: auto;
  background-color: #222;
  color: ccc;
}

canvas {
  max-height: 500px;
}

li {
  position: relative;
}

li:hover {
  background: #555;
  color: white;
}

li a {
  display: inline-block;
  color: yellow;
}

li a:visited {
  color: green;
}

li a img {
  width: 30px;
  transition: all 0.2s ease;
  position: absolute;
  right: 0;
  top: 0;
}

li:hover img {
  transform: scale(3.5);
  z-index: 2;
}

.hidden,
.not-script {
  display: none;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background: #555;
}

.btn-active {
  box-shadow: inset 0 0 10px 5px #333;
}
