body {
  max-width: 1000px;
  margin: auto;
  background-color: #222;
  color: ccc;
}

canvas {
  max-height: 500px;
}

ol.log-list li {
  position: relative;
  white-space: pre;
}

li:hover {
  background: #555;
  color: white;
}

ol.log-list li a {
  position: absolute;
  display: flex;
  align-items: center;
  color: yellow;
  right: 0;
  top: 0;
}

li a span {
  margin-right: 5px;
}

ol.log-list li a:visited {
  color: green;
}

li a img,
.avatar {
  width: 30px;
  transition: all 0.2s ease;
}

li a:hover img {
  transform: scale(3.5);
  z-index: 2;
}

.hidden,
.not-script {
  display: none;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background: #555;
}

.btn-active {
  box-shadow: inset 0 0 10px 5px #333;
}

.show-on-hover {
  display: inline-block;
  width: 0;
  opacity: 0;
  transition: all 0.5s ease 2s;
  overflow: hidden;
}

li:hover .show-on-hover {
  width: max-content;
  opacity: 1;
  transition: all 0s ease 0.5s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal:has(.modal-content:hover) {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.05;
  transition: opacity 0.1s ease;
}

.modal-content:hover {
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 10px;
  width: 100%;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal ol {
  padding: 0;
  list-style: none;
}

.modal ol a {
  color: white;
  text-decoration: none;
}

.modal li {
  width: 100%;
  clear: right;
}

[data-search] {
  cursor: pointer;
  float: right;
}

[data-search]:hover {
  text-decoration: underline;
}
