html,
body {
    min-width: 300px;
}

h1 {
    text-align: center;
}

.content {
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}

.content button {
    border: none;
    margin: 0.25em;
    padding: 0.75em 1em;
    color: #333;
    transition: all 200ms;
}

.content button:hover,
.content button:focus {
    background-color: rgb(150, 215, 255);
    cursor: pointer;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(150, 215, 255);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}