html,
body {
    min-width: 350px;
    background-color: #e6e6e6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h3 {
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
}

a:hover {
    background-color: #ddd;
}

#flag {
    width: 35;
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

.section-title {
    margin: 5px 0;
}

.content {}

.content button {
    border: none;
    margin: 0.25em;
    padding: 0.75em 1em;
    color: #333;
    background-color: #c6c6c6;
    transition: all 200ms;
}

.content button:hover {
    background-color: #a8a8a8;
    cursor: pointer;
    transform: translateY(-3px);
    z-index: 100;
}

.content button:active {
    transform: none;
    transition: all 50ms;
}

.content button span {
    vertical-align: middle;
}

.content button .icon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-right: 5px;
}

.content button .badge {
    padding: 3px 5px;
    border-radius: 5px;
    transform: rotate(-30deg);
}

.content button .badge:first-child {
    margin-left: -10px;
}

.content button .badge:last-child {
    margin-right: 5px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #cccccc;
    overflow: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #afafaf;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #a8a8a8;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    padding-bottom: 50px;
}

.tabcontent {
    animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: left;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    pointer-events: none;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 0;
    opacity: 0;
    transition: all .1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    top: 105%;
    opacity: 1;
    transition: all .3s linear .7s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(133, 133, 133) transparent;
}

#update-btn {
    display: none;
    border: none;
    padding: 3px;
    color: #eee;
    background-color: #009e00;
    font-weight: bold;
    cursor: pointer;
}

#update-btn:hover {
    color: #fff;
    background-color: #00c200;
}